
 footer{
    background-color: $dark-color-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    height: 200px;
    margin-bottom:0;
    margin-left:0;
    float:right;
    align-items: center;
    color: $color-text-light;
    @media (min-width: 768px){
        height: 30vh;
    }
    .footlog{
        width: 130px;
        border-radius:13px;
        padding: 0;
        margin-left: 10px;
        @media (min-width: 768px){
           witdh: 100%;
           height: auto;
           margin-left: 50%;
          
        }
    }
    .footer__link{
        list-style-type: none;
        opacity: 1;
        padding: 4%;
        // width: 400px;
        font-size: 16px;
        @media (min-width: 768px){
           font-size: 20px;
           display: flex; 
           flex-direction: column;
           margin-right: 20%;
        }
       li{
        margin-bottom:10px;
        }
    }
}