* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-left: 10px;
}

nav {
  position: fixed;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(24, 49, 83);
  padding: 90px 0px 0px;
  border-bottom: 1px solid #0d1a2b;
  transform: translateX(-150%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav.active {
  transform: translate(0);
}
nav a {
  color: #dadada;
  font-size: 18px;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  width: 70%;
}

.burger {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.burger .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(20, 110, 190);
}
.burger .l1 {
  transform: translateY(-10px);
  transition: 0.3s;
}
.burger.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.burger .l3 {
  transform: translateY(10px);
  transition: 0.3s;
}
.burger.active .l3 {
  transform: translateY(0px) rotate(-135deg);
  transition: 0.3s;
}
.burger.active .l2 {
  opacity: 0;
  transition: 0.3s;
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .logo {
  display: flex;
  justify-content: center;
}
header .logo__img {
  width: 280px;
  height: 240px;
  margin: 0 10% -20px 10%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
header .banniere-devis {
  height: 250px;
  background: url("Images/Img-2.webp") no-repeat center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .banniere-devis .devis {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(24, 49, 83);
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 18px 28px;
}
header .banniere-devis .devis .form-link {
  color: #dadada;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}
header .banniere-devis .devis .form-link:hover {
  font-size: 26px;
  transition: 0.3s;
}
header .banniere-devis .devis:hover {
  background-color: rgb(20, 110, 190);
  transition: 0.3s;
}
header .banniere-devis .devis:active {
  transition: 0.5s;
}

/*main*/
#middle__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#middle__page .middle__methodes {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#middle__page .middle__methodes .methodes__title {
  color: rgb(24, 49, 83);
}
#middle__page .middle__methodes .methodes__title hr {
  width: 70px;
  margin-left: 0;
  height: 3px;
  border: none;
  background-color: #ffd43b;
}
#middle__page .middle__methodes .methodes__description {
  text-align: left;
  font-size: 17px;
  color: rgb(20, 110, 190);
}
#middle__page .middle__methodes .methodes__description ul {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  padding: 0;
  align-items: center;
  color: rgb(24, 49, 83);
}
#middle__page .middle__methodes .methodes__description ul .description__class {
  justify-content: space-between;
  margin: 7px;
  text-align: center;
}
#middle__page .middle__methodes .methodes__description ul .fa-solid {
  background-color: #ffd43b;
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
  text-align: center;
}
#middle__page .middle__methodes .methodes__description ul .fa-building {
  width: 17px;
}
#middle__page .middle__methodes .contexte__title {
  color: rgb(24, 49, 83);
}
#middle__page .middle__methodes .contexte__title hr {
  width: 70px;
  margin-left: 0;
  height: 3px;
  border: none;
  background-color: #ffd43b;
}
#middle__page .middle__methodes .methodes__bloc {
  width: 350px;
  height: 250px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  margin-bottom: 40px;
  border-radius: 0px 40px 0px 40px;
  text-align: center;
  box-shadow: 2px 2px 12px rgb(24, 49, 83);
}
#middle__page .middle__methodes .methodes__bloc .bloc__title {
  color: #051e34;
  font-weight: bolder;
  font-size: 25px;
  padding: 5px;
}
#middle__page .middle__methodes .type1 {
  background: url("Images/heritage.webp") no-repeat center;
  background-size: cover;
  background-position: center;
}
#middle__page .middle__methodes .type2 {
  background: url("Images/divorce.webp") no-repeat center;
  background-size: cover;
}
#middle__page .middle__methodes .type3 {
  background: url("Images/donation.webp") no-repeat center;
  background-size: cover;
  background-position: center right;
}
#middle__page .middle__methodes .type4 {
  background: url("Images/Img-5.webp") no-repeat center;
  background-size: cover;
  background-position: center;
}

#Formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding: 15% 0 20% 0;
  background-color: #ffd43b;
  color: rgb(24, 49, 83);
}
#Formulaire h1 {
  margin: 0 0 10% 0;
}
#Formulaire hr {
  width: 70px;
  margin-top: -10px;
  margin-bottom: 10%;
  height: 3px;
  border: none;
  background-color: rgb(20, 110, 190);
}
#Formulaire .form__question {
  font-size: 18px;
  font-weight: bold;
  color: rgb(24, 49, 83);
  width: 100%;
}
#Formulaire .form__question input {
  border-radius: 13px;
  border: 0;
  height: 26px;
  margin-top: 10px;
}
#Formulaire .form__question input:focus {
  outline: none;
}
#Formulaire .form__submit {
  display: flex;
  justify-content: center;
}
#Formulaire .form__submit input {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: rgb(20, 110, 190);
  color: #dadada;
  padding: 18px 28px;
  cursor: pointer;
  margin-top: 40px;
}
#Formulaire .form__submit input:hover {
  font-size: 26px;
  background-color: rgb(24, 49, 83);
  transition: 0.3s;
}

footer {
  background-color: #0d1a2b;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-left: 0;
  float: right;
  align-items: center;
  color: #dadada;
}
footer .footlog {
  width: 50%;
  border-radius: 50%;
  padding: 0;
  margin-left: 10px;
}
footer .footer__link {
  list-style-type: none;
  opacity: 1;
  padding: 0;
  width: 400px;
  margin-left: -100px;
  margin-right: 10px;
  font-size: 16px;
}
footer .footer__link li {
  margin-bottom: 10px;
}/*# sourceMappingURL=Styles.css.map */